
{% extends 'base.html' %}

{% block title %}Payment Successful - UrbanCart{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <div class="card shadow-lg p-5">
        <h1 class="text-success">✅ Payment Successful</h1>

        <p class="mt-3">
            Thank you for shopping with UrbanCart.
        </p>

        <hr>

        <p><strong>Order ID:</strong> #{{ order.id }}</p>
        <p><strong>Amount:</strong> ₹{{ order.totalamount }}</p>
        <p><strong>Status:</strong> Paid</p>
        <p><strong>Payment Method:</strong> Card</p>

        <a href="{% url 'displayorder' %}" class="btn btn-success mt-3">
            View Orders
        </a>

        <a href="{% url 'home' %}" class="btn btn-outline-secondary mt-3">
            Continue Shopping
        </a>
    </div>
</div>
{% endblock %}