{% extends 'base.html' %}

{% block title %}Payment Successful - UrbanCart{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

<script>
emailjs.init("Ag2c442dozngkgMh2");

emailjs.send(
    "service_c1oeeaa",
    "template_ayn9ilt",
    {
        customer_name: "{{ request.user.FirstName }}",
        customer_email: "{{ request.user.email }}",
        order_id: "UC-{{ order.id }}",
        order_date: "{{ order.created_at|date:'d M Y, h:i A' }} IST",
        total: "{{ order.totalamount }}",

        products_html: `
        {% for item in items %}
        <tr>
            <td style="padding:12px;border-bottom:1px solid #eee;">
                {{ item.product.name }}
            </td>
            <td align="center" style="padding:12px;border-bottom:1px solid #eee;">
                {{ item.quantity }}
            </td>
            <td align="right" style="padding:12px;border-bottom:1px solid #eee;">
                ₹{{ item.product.price }}
            </td>
        </tr>
        {% endfor %}
        `,

        year: "2026"
    }
)
.then(() => console.log("Order email sent"))
.catch(err => console.log(err));
</script>

{% endblock %}